body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	width: 100%;
	height: 100vh;
	background: url("../img/header-bg.jpg")no-repeat center top / cover;
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
}

.menu {
	display: flex;
	transition: all 0.5s ease;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	text-decoration: none;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.tel:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.nav {
	display: flex;
	align-items: center;
	padding-top: 57px;
}

.main {
	text-transform: uppercase;
	color: #fff;
	margin-top: 250px;
}

.main p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.main h1 {
	font-size: 100px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: -50px;
	margin-left: -1.2px;
}

.box{
	display: block;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: 1px solid #fff;
	text-decoration: none;
	text-align: center;
	padding: 17px 47px;
	width: 238px;
	transition: all 0.5s ease;

}

.box:hover {
	background: #fff;
	color: #000;

}

.about h2{
	font-size: 50px;
	font-weight: 400;
	margin-top: 113px;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description h3 {
	font-size: 25px;
	margin-top: 58px;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding: 114px 0;
}

.footer-text p {
	margin-right: 67px;
}
